# No SDK Keys required when deploying to Vercel
#
# Run "vc link" and "vc env pull", which will pull a VERCEL_OIDC_TOKEN.
# Vercel Flags uses the VERCEL_OIDC_TOKEN to read your project's feature flags.
# When deployed to Vercel, the OIDC token is provided automatically.


# Required by the Flags SDK and Flags Explorer
# Generate any value with node -e "console.log(crypto.randomBytes(32).toString('base64url'))"
FLAGS_SECRET=""
